div.btn{
    margin: 20px auto;
    padding: 30px 0;
    text-align: center;
}
div.btn>button{
    padding: 10px 30px;
    border: none;
    color: #fff;
    margin: 0 20px;
    border-radius: 8px;
    background-color: rgba(14, 14, 14, 0.647);
}
div.btn>button:nth-child(2){
    background-color: rgba(112, 111, 111, 0.595);
}